{% extends 'app/index.html' %}


{% block content %}
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <hr>
                <div>
                    <h1 class="border font-weight-bold">Search Drug Index</h2>
                </div>
                <form method="GET" action="">
                    <div class="form-group">


                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Search by Trade Name" name="trade_name_box">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Search by Generic Name" name="generic_name_box">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search by Uses"
                            name="uses_box">
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>



            </div>
        </div>
        <hr size="80">
        <h3 class="mt-4 text-center font-weight-bold ">Search Results....({{drugs.count}})</h3>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Trade Name</th>
                            <th scope="col">Generic Name</th>
                            <th scope="col">Uses</th>
                            <th scope="col">Dosage</th>
                            <!-- <th scope="col">Images</th> -->
                        </tr>
                    </thead>
                    {% for drug in drugs %}
                    <tbody>
                        <tr>
                            <th scope="row">{{drug.trade_name}}</th>
                            <td>{{drug.generic_name}}</td>
                            <td>{{drug.uses}}</td>
                            <td>{{drug.dosage}}</td>
                            <!-- <td>{{drug.image.url}}</td> -->
                        </tr>

                    </tbody>
                    {% endfor %}
                </table>





            </div>
        </div>
    </div>
</section>

{% endblock content %}