{% extends 'app/index.html' %}


{% block content %}
<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <hr>
                <div>
                    <h1 class="border font-weight-bold">Search Drug Index</h2>
                </div>
                <form method="GET" action="">
                    <div class="form-group">


                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Search by Trade Name" name="trade_name_box">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Search by Generic Name" name="generic_name_box">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search by Uses"
                            name="uses_box">
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </form>



            </div>
        </div>
        <hr size="80">
        <h3 class="mt-4 text-center font-weight-bold ">Search Results....({{trade_results.count}}{{generic_results.count}}{{uses_results.count}})</h3>
        <div class="row">
            <div class="col">

                <div class="list-group">
                    {% for trade_result in trade_results %}
                    <a href="{% url 'drug_details' trade_result.id %}" class="list-group-item list-group-item-action">
                            {{trade_result.trade_name}}
                            
                    </a>

                {% endfor %}

                {% for generic_result in generic_results %}
                    <a href="{% url 'drug_details' generic_result.pk %}" class="list-group-item list-group-item-action">
                            {{generic_result.generic_name}}
                            
                    </a>

                {% endfor %}

                {% for uses_result in uses_results %}
                    <a href="{% url 'drug_details' uses_result.pk %}" class="list-group-item list-group-item-action">
                            {{uses_result.uses}}
                            
                    </a>

                {% endfor %}

                </div>





            </div>
        </div>
    </div>
</section>

{% endblock content %}

<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Trade Name</th>
            <th scope="col">Generic Name</th>
            <th scope="col">Uses</th>
            <th scope="col">Dosage</th>
            <th scope="col">Images</th>
        </tr>
    </thead>
    {% for drug in drugs %}
    <tbody>
        <tr>
            <th scope="row">{{drug.trade_name}}</th>
            <td>{{drug.generic_name}}</td>
            <td>{{drug.uses}}</td>
            <td>{{drug.dosage}}</td>
            <td>{{drug.image.url}}</td> 
        </tr>

    </tbody>
    {% endfor %}
</table> -->