{% extends 'app/index.html' %}
{% load crispy_forms_tags %}


{% block content %}
<!-- {% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} mt-2">{{message}}</div>

{% endfor %}
{% endif %} -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h2>Login</h2>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    <input type="submit" value="Register">
                </form>

            </div>
        </div>

    </div>
</section>

{% endblock content %}